.amzn-featured-link {
    margin-bottom: 1.7em;
}

.amzn-featured-link a {
    color: inherit;
    text-decoration: none;
}

.amzn-featured-link .amzn-featured-link-title {
    margin-bottom: 10px;
}

.amzn-featured-link .amzn-featured-link-title h4 {
    display: inline;
    margin-bottom: none;
}

.amzn-featured-link > div {
    vertical-align: top;
    position: relative;
}

.amzn-featured-link p:empty {
    display: none;
}

.amzn-featured-link > div:not(:last-of-type):not(:first-of-type) {
    margin-left: 20px;

}

.amzn-featured-link:nth-of-type(even) > div:not(:last-of-type):not(:first-of-type) {
    margin-left: 0px;
    margin-right: 20px;

}

.amzn-featured-link .amzn-tagline {
    opacity: .8;
    font-size: .6em;
    margin-top: 5px;
    text-align: center;
}

.amzn-featured-link-img + div {
    width: calc(100% - 120px);
    float: left;
}

.amzn-featured-link-img + div {
    width: calc(100% - 120px);
    float: left;
}

.amzn-featured-link-img {
    float: left;
    width: 100px;
}

.amzn-featured-link:nth-of-type(even) .amzn-featured-link-img {
    float: right;
}

.amzn-featured-link-img img {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    display: block;
}
